h1 {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-top: 20px;
}

.mainContainer {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgreen;
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }

.verbInputCont {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.verbInput {
    box-sizing: border-box;
    width: 100%;
  } 

.adjectiveInputCont {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.adjectiveInput {
    box-sizing: border-box;
    width: 100%;
  } 
  
.nounInputCont {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.nounInput {
    box-sizing: border-box;
    width: 100%;
  } 

.adverbInputCont {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

.adverbInput {
    box-sizing: border-box;
    width: 100%;
  } 

.answerTextCont {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

.answerText {
    box-sizing: border-box;
    width: 100%;
    height: 480px;
    text-align: center;
  } 

.buttonRow {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
  
  .leftbutton {
    display: inline-block;
  }

  .rightbutton {
    display: inline-block;
  }

label {
    display: block;
    text-align: center;
    font-weight: bold;
  }

input {
    width: 100%;
    display: block;
    margin: auto;
  }